* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav > ul > li {
  display: inline-block;
  margin: 5px 10px;
}

main {
  max-width: 600px;
  width: 100%;
  margin: 10px auto;
}

section {
  position: relative;
}

header {
  top: 0;
  text-align: center;
  position: sticky;
  padding: 5px;
  background-color: white;
  z-index: 1;
}
